@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  font-family: "Belleza", serif;
  font-weight: 400;
  font-style: normal;
} */

input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: white;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.nav-padding {
  padding: 0.5rem 1rem;
}

@media (min-width: 320px) {
  .nav-padding {
    padding: 0.3rem 1rem;
  }

  .height-mob {
    height: 1.3rem;
  }
}

@media (min-width: 734px) {
  .nav-padding {
    padding: 0.5rem 1rem;
  }
}

@media (min-width: 1180px) {
  .nav-padding {
    padding: 0.5rem 1rem;
  }
}
